<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="wrapper">
    <div class="container">

        <form class="form" method="post">
            <input type="text" placeholder="Email" name="email">
            <button type="submit" name="button" value="send">Send pin</button>
        <br>
        <br>
        <br>
            <input type="text" placeholder="4 digit pin" name="pin">
            <button type="submit" name="button" value="submit">Submit pin</button>
            <br>
            <br>
            <a href="login">Sign in</a>
        </form>
    </div>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<script>
</script>
</body>
</html>