<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <h1>Create new password</h1>
        <form class="form" method="post">
            <input id="newPass" required type="password" placeholder="New Password" name="newPass" minlength="8">
            <input id="conPass" required type="password" placeholder="Confirm Password" name="conPass">
            <button type="submit" id="login-button">Save</button>
        </form>
    </div>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<script>
    $("#login-button").click(function(event){
        event.preventDefault();
        $('form').fadeOut(500);
        $('.wrapper').addClass('form-success');
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#login-button").click(function () {
            var password = $("#newPass").val();
            var confirmPassword = $("#conPass").val();
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        });
    });
</script>
</body>
</html>